html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.5 'Open Sans', sans-serif;
}

ul {
    padding-inline-start: 0;
}

h2 {
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 1.2;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(17, 17, 17, 1);
    position: relative;
    padding-bottom: 18px;
}

h2::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: rgba(17, 17, 17, 1);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: rgb(255, 255, 255);
}

/*    SIDEBAR    */
.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
}

.sidebar .nav-link {
    background-color: transparent;
    color: #FBC620;
    display: inline-block;
    font-size: 16px;
    padding: 0;
    position: relative;
}

.sidebar .nav-item {
    border-color: transparent;
}

.nav-link__tellme {
    width: 40px;
    height: 40px;
    background: url(../img/logo/littlephone.png) center no-repeat #FBC620;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #B48E17;
}

.noview {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    width: 250px;
    background-color: black;
    font-size: 16px;
    margin-bottom: 0;
    padding-right: 50%;
    padding-top: .37rem;
    padding-bottom: .37rem;
    display: none;
    z-index: -1;
}

.sidebar .nav-link:hover .noview {
    display: block;
}

.nav-link__box {
    width: 40px;
    height: 40px;
    background: url(../img/logo/box.png) center no-repeat #FBC620;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #B48E17;
}

.nav-link__mail {
    width: 40px;
    height: 40px;
    background: url(../img/logo/Maily.png) center no-repeat #FBC620;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #B48E17;
}

.header {
    background-color: black;
}

.outwhite {
    outline: 1px solid white;
}

.header-top {
    background: url(../img/back/shapka.png) center no-repeat;
    background-size: cover;
}

.nav-item {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav-link {
    display: block;
    text-align: center;
}

.cart {
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #FBC620;
    text-decoration: none;
    padding-left: 50px;
    position: relative;
}

.cart:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url(../img/logo/basket.png) center no-repeat, #FBC620;
    border-radius: 50%;
}

.lang {
    display: flex;
}

.lang li {
    list-style: none;
    background-color: rgba(0, 0, 0, 1);
}

.lang a {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 6px 20px;
    display: block;
}

.lang a:hover {
    color: #FBC620;
}

.lang .active {
    color: #FBC620;
    background-color: transparent;
}

.menu {
    background-color: rgba(0, 0, 0, .8);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
}

.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    background-color: #FBC620;
    transition-duration: .5s;
}

.navs .nav-tabs {
    background-color: black;
    padding-top: 20px;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    color: #FBC620;
    border: 1px solid rgba(251, 198, 32, 1);
}

.navs .nav-link__blue {
    border: 1px solid rgba(63, 141, 185, .2);
    color: #3F8DB9;
}

.navs .nav-link__blue:hover,
.navs .nav-link__blue.active {
    border: 1px solid rgba(63, 141, 185, 1);
    background-color: transparent;
    color: #3F8DB9;
}

.navs .nav-link__orange {
    color: #FBC620;
    border: 1px solid rgba(251, 198, 32, .2);
}

.navs .nav-link__orange:hover {
    border: 1px solid rgba(251, 198, 32, 1);
}

.navs .nav-link__grey {
    color: #696969;
    border: 1px solid rgba(105, 105, 105, .2);
}

.navs .nav-link__grey:hover,
.navs .nav-link__grey.active {
    border: 1px solid rgba(105, 105, 105, 1);
    color: #696969;
    background-color: transparent;
}

.tab-content > .active {
    background-color: transparent;
}

.warback {
    background: url(../img/back/tehn.png) center no-repeat;
    background-size: cover;
    position: relative;
}

.warback:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(245, 185, 4, 0.884);
}

.warback + .warback:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(4, 137, 245, 0.884);
}

.warback + .warback + .warback:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(108, 114, 119, 0.884);
}

.fstt {
    font-family: 'Gothic A1', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
}

.section-caption {
    display: block;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
}

.sub-caption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.list {
    list-style: none;
}

.list__item {
    position: relative;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

.list__item:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.list__item:after {
    position: absolute;
    content: url(../img/logo/check.png);
    top: 50%;
    left: 0;
    transform: translateY(-85%);
    width: 28px;
    height: 28px;
}

.warback .list__item:after {
    top: 10%;
}

.work .list__item:before {
    border-color: gray;
}

.yellow {
    color: #FBC620;
    text-transform: uppercase;
    font-weight: bold;
}

/*   COMY    */
.comy {
    background: url(../img/back/shap.png) center no-repeat;
    padding: 80px 0;
    background-size: cover;
}

.comy .section-caption {
    font-size: 34px;
    font-weight: 400;
}

.carousel .carousel-inner .active {
    background-color: transparent;
    color: white;
}

.carousel-control-prev {
    width: 15%;
}

.carousel-control-prev-icon {
    background: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    width: 30px;
    height: 30px;
    transform: rotateZ(-45deg);
}

.carousel-control-next-icon {
    background: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    width: 30px;
    height: 30px;
    transform: rotateZ(135deg);
}

.exa {
    display: inline-block;
    width: 79px;
    height: 79px;
    border-radius: 50%;
}

.link-caption {
    font-family: 'Gothic A1', sans-serif;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    padding-right: 20px;
    border-bottom: 5px solid white;
    color: white;
    margin-top: 42px;
}

.link-caption:after {
    position: absolute;
    content: "";
    top: 0;
    left: 100%;
    width: 20px;
    height: 20px;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    transform: rotateZ(313deg) translateY(-7px) translateX(-8px);
}

.comy .link-caption {
    color: #FBC620;
    border-bottom: 5px solid #FBC620;
}

.comy .link-caption:after {
    border-right: 5px solid #FBC620;
    border-bottom: 5px solid #FBC620;
}

/*   WORK     */
.work {
    padding: 20px 0;
}

.work h2 {
    border-bottom: 1px solid #FBC620;
}

.work h2::before {
    background-color: #FBC620;
}

.work .section-caption {
    font-size: 34px;
    font-weight: 400;
}

.stage {
    margin-top: 20px;
    position: relative;
}

.monchik {
    position: absolute;
    top: 0;
    left: 0;
}

.fs34 {
    font-size: 34px;
}

.padtop {
    padding-top: 200px;
}

.monito {
    padding-top: 10px;
}

.monito .list-caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.monito .list-caption::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateY(16%);
    width: 30px;
    height: 30px;
    border: 1px solid #FBC620;
}

/*    BUILD     */
.build {
    background-color: rgba(242, 242, 242, 1);
    padding: 20px 0;
}

.build .section-caption {
    font-size: 34px;
    font-weight: 400;
}

.fabrito .list-caption:before {
    top: 20px;
    border: 1px solid #FBC620;
}

.placito .list-caption:before {
    top: 20px;
    border: 1px solid #FBC620;
}

.testing {
    padding: 20px 0;
}

.testing .section-caption {
    font-size: 34px;
    font-weight: 400;
}

.fabr {
    position: relative;
}

.fabrico {
    position: absolute;
    top: -70px;
    left: 0;
}

.fabrito {
    padding-top: 10px;
}

.test {
    position: relative;
}

.placed {
    position: absolute;
    top: 0;
    left: 0;
}

.placito {
    padding-top: 20px;
}

/*    map     */

#map {
    height: 100%;
}

/*   footer  */
.footer {
    background: url(../img/back/shapka.png) center no-repeat;
    background-size: cover;
    padding: 25px 0 31px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
}

.mail__link {
    display: inline-block;
    color: #FBC620;
    text-decoration: none;
    padding-left: 50px;
    position: relative;
}

.mail__link:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url(../img/logo/Maily.png) center no-repeat, #FBC620;
    border-radius: 50%;
}

.mail {
    margin-top: 10px;
    text-align: center;
}

.callback {
    margin-top: 10px;
    text-align: center;
}

.callback__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-left: 50px;
    position: relative;
}

.callback__link:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url(../img/logo/phone.png) center no-repeat, #FBC620;
    border-radius: 50%;
}

.bigs {
    font-size: 24px;
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }

    .nav-item {
        flex-grow: 1;
        flex-basis: 0;
    }

    .navs .nav-item {
        flex-grow: 0;
    }

    .callback, .mail {
        margin-top: 0;
        text-align: left;
    }

    .callback__link {
        margin-bottom: 10px;
    }

    .mail__link {
        margin-bottom: 25px;
    }

    .monito {
        padding-top: 200px;
    }

    .fabrito {
        padding-top: 140px;
    }

    .stage {
        margin-top: 82px;
    }

    .work {
        padding: 80px 0;
    }

    .build {
        padding: 110px 0;
    }

    .testing {
        padding: 100px 0;
    }

    .sold {
        padding-top: 36px;
    }

    .placito {
        padding-top: 210px;
    }
}

@media (min-width: 1200px) {
    .monito {
        padding-top: 250px;
    }

    .fabrito {
        padding-top: 250px;
    }

    .placito {
        padding-top: 320px;
    }

    .testing {
        padding: 50px 0 200px;
    }
}